Package: com.bitcrusher32.logoshooktest
Name: LogosHookTest
Version: 0.0.1
Architecture: iphoneos-arm
Description: Minimal Logos hook compile/link/package validation.
Maintainer: Bitcrusher32
Author: Bitcrusher32
Section: Tweaks
Depends: mobilesubstrate
