Package: com.bitcrusher32.foundationtest
Name: FoundationTest
Version: 0.0.1
Architecture: iphoneos-arm
Description: Foundation link test for legacy iOS toolchain validation.
Maintainer: Bitcrusher32
Author: Bitcrusher32
Section: Tweaks
Depends: mobilesubstrate
