Package: com.bitcrusher32.corefoundationtest
Name: CoreFoundationTest
Version: 0.0.1
Architecture: iphoneos-arm
Description: CoreFoundation link test for legacy iOS toolchain validation.
Maintainer: Bitcrusher32
Author: Bitcrusher32
Section: Tweaks
Depends: mobilesubstrate
