Package: com.bitcrusher32.objcruntimetest
Name: ObjCRuntimeTest
Version: 0.0.1
Architecture: iphoneos-arm
Description: Objective-C runtime link test for legacy iOS toolchain validation.
Maintainer: Bitcrusher32
Author: Bitcrusher32
Section: Tweaks
Depends: mobilesubstrate
